@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: Quantico;
    color: greenyellow;
    background-color: black;
}

html,
body {
    margin: 0;
}

body {
    background-color: lightgray;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input,
button {
    border: 1px solid greenyellow;
}

input,
button,
label,
a {
    font-size: 18px;
}

label {
    font-weight: bold;
}

button {
    background-color: greenyellow;
    color: black;
}

button.invert {
    background-color: black;
    color: greenyellow;
}

.w-full {
    width: 100%;
}

.mt-5 {
    margin-top: 5px;
}